html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: hsl(240, 5.9%, 10%);
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    background-color: hsl(240, 5.9%, 10%);
}
.header-nombre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}
.header-nombre h1{
    font-size: 30px;
    margin: 0;
}
.header-nombre p {
    color: hsl(0, 0%, 67%);
    margin: 0;
    font-weight: 500;
}
.header-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-contacto div {
    margin-left: 10px;
}
.header-contacto svg {
    width: 16px;
    margin-bottom: -6px;
    margin-right: 5px;
}
main {
    width: 100%;
    max-width: 800px;
    margin-top: 60px;
}
section {
    margin-bottom: 60px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 18px;
    margin: 0;
}
.periodo {
    margin-top: 4px;
    margin-bottom: 0;
    color: hsl(0, 0%, 67%);
}
.descripcion {
    margin-top: 15px;
    line-height: 25px;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    width: 100%;
}
li {
    background-color: hsl(240, 4.8%, 95.9%);
    padding: 20px;
    width: 30%;
    max-width: 260px;
    min-height: 140px;
    border-radius: 10px;
}
li span {
    font-weight: bold;
}
li p {
    color: hsl(0, 0%, 67%);
    font-weight: 300;
    margin-bottom: 0;
}
a:link, a:visited {
    text-decoration: none;
    color: hsl(0, 0%, 67%);
}
footer {
    width: 100%;
    height: fit-content;
    background-color: hsl(240, 4.8%, 95.9%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

@media (max-width: 940px) {
    header {
        height: fit-content;
        flex-direction: column;
    }
    .header-nombre {
        margin-top: 20px;
        align-items: center;
        gap: 10px;
    }
    .header-contacto {
        margin: 20px 0px;
    }
    main {
        padding: 0px 50px;
    }
    ul {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    li {
        max-width: 940px;
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 600px) {
    .header-contacto {
        flex-direction: column;
    }
}